  <div class="row">
	      	<div class="welcome-container">
				<div class="span12">
					<div class="tagline">
						<h1>Travel Together</h1>

						<div class="main-query-field">
						<input type="text" class="main-query" placeholder="Start your search. i.e. San Francisco, San Francisco Hotels or Andrew Heil">
						</div>
						<div class="main-info">
						<p>We're bringing travelers together around the globe to plan their trips.</p>						
						<div class="users">
							<button class="btn signinbutton">
								<a href="/login">Log In</a>
							</button>
						</div>
						</div>
					</div>
				</div> <!-- /span12 -->
			
	      	</div>
	      </div> <!-- /row -->
		  
		  <div class="row">
			<div class="span12">

				<div class="get-invited">
					<div class="home-button">
						<a href="#inline1" class="btn btn-warning signupbutton-second fancybox">Get Invited</a>
					</div>
					<div class="get-invited-text">
						<h2>Reimagine Travel with Us.</h2>
					</div>
				</div>
			
			</div>
		  </div>
		  

	
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->


<div class="main-foot">
	
	<div class="main-foot-inner">

	    <div class="container">
	
		  
		  <div class="row">
			<div class="span12">

				<div class="picture-foot-inner">
				</div>
				
			</div>
		  </div>
		  

	
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->

<div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">
				
    			<div class="span3">
    				
    				<h4>Travel</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Hotels</a></li>
    					<li><a href="javascript:;">Family Hotels</a></li>
    					<li><a href="javascript:;">Romantic Hotels</a></li>
    					<li><a href="javascript:;">Pet Friendly Hotels</a></li>
						<li><a href="javascript:;">Cheap Hotels</a></li>
					</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Vacations by Location</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Alabama</a></li>
    					<li><a href="javascript:;">Alaska</a></li>
    					<li><a href="javascript:;">Arizona</a></li>
    					<li><a href="javascript:;">Arkansas</a></li>
						<li><a href="javascript:;">more</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Blogs</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Vacations Blog</a></li>
    					<li><a href="javascript:;">Beaches Blog</a></li>
    					<li><a href="javascript:;">Restaurants Blog</a></li>
    					<li><a href="javascript:;">Hotels Blog</a></li>
						<li><a href="javascript:;">Nightlife Blog</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Company</h4>
    				
    				<ul>
    					<li><a href="javascript:;">About us</a></li>
    					<li><a href="javascript:;">Travel Gems</a></li>
    					<li><a href="javascript:;">Contact Us</a></li>
    					<li><a href="javascript:;">Terms of Use</a></li>
						<li><a href="javascript:;">Jobs</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    		</div> <!-- /row -->

		</div> <!-- /container -->

	</div> <!-- /extra-inner -->

</div> <!-- /extra -->


    
    
<div class="footer">
	
	<div class="footer-inner">
		
		<div class="container">
			
			<div class="row">
				
    			<div class="span12">
    				&copy; 2012 <a href="http://touristapp.com">Tourist</a>
    			</div> <!-- /span12 -->
    			
    		</div> <!-- /row -->
    		
</div>
</div>
</div>