  <div class="row">
	      	<div class="welcome-container">
				<div class="span12">
					<div class="tagline">
						<h1>Travel Together</h1>

						<div class="main-query-field">
						<input type="text" class="main-query" placeholder="Start your search. i.e. San Francisco, San Francisco Hotels or Andrew Heil">
						</div>
						<div class="main-info">
						<p>We're bringing travelers together around the globe to plan their trips.</p>						
						<div class="users">
							<button class="btn signinbutton">
								<a href="/login">Log In</a>
							</button>
						</div>
						</div>
					</div>
				</div> <!-- /span12 -->
			
	      	</div>
	      </div> <!-- /row -->
		  
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->


<div id="section1">
    <div class="container">
        <div class="feature-left">
            <h2>Build your trip together</h2>
            <p>Quickly build your trips with family, friends and colleagues<br /><br />
                /\ is a social travel site helps you and others decide on what to do on your ideal vacation together.  We keep track of recommendations, tips and plans by everyone associated with the trip. We give you our recommedations based on the largest online travel library and the people you trust most - your friends. 
            </p>
        </div>
        <div class="feature-right">
            <img alt="Trip Planning" src="../img/planning.png" />
        </div>
    </div>
</div>
<div id="section2">
    <div class="container">
        <h2>Featured Destinations</h2>
        <div class="destination-large" style="background:url(../img/nyc.jpg);background-size:cover;">
            <div class="featured-info">
                <div class="featured-avatar">
                    <img alt="Bang-avatar" src="../img/liberty-avatar.jpg" />
                </div>
                <div class="featured-content">
                    <h2><a href="/feed">New York City</a></h2>
                    <p>New York, New York</p>
                </div>
            </div>
        </div>
        <div class="destination-small">
            <div class="destination-smaller" style="background:url(../img/sf.jpg);background-size:cover;">
                <div class="featured-smaller-info">
                    <div class="featured-smaller-avatar">
                        <img src="../img/sf-logo.jpg"></img>
                    </div>
                    <div class="featured-smaller-content">
                        <h2><a href="/feed">San Francisco</a></h2>
                        <p>San Francisco, California</p>
                    </div>  
                </div>
            </div>
            <div class="destination-smaller" style="background:url(../img/orlando.jpg);background-size:cover;">
                <div class="featured-smaller-info">
                    <div class="featured-smaller-avatar">
                        <img src="../img/orlando-avatar.jpg"></img>
                    </div>
                    <div class="featured-smaller-content">
                        <h2><a href="/feed">Orlando</a></h2>
                        <p>Orlando, Florida</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">
				
    			<div class="span3">
    				
    				<h4>Travel</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Hotels</a></li>
    					<li><a href="javascript:;">Family Hotels</a></li>
    					<li><a href="javascript:;">Romantic Hotels</a></li>
    					<li><a href="javascript:;">Pet Friendly Hotels</a></li>
						<li><a href="javascript:;">Cheap Hotels</a></li>
					</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Vacations by Location</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Alabama</a></li>
    					<li><a href="javascript:;">Alaska</a></li>
    					<li><a href="javascript:;">Arizona</a></li>
    					<li><a href="javascript:;">Arkansas</a></li>
						<li><a href="javascript:;">more</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Blogs</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Vacations Blog</a></li>
    					<li><a href="javascript:;">Beaches Blog</a></li>
    					<li><a href="javascript:;">Restaurants Blog</a></li>
    					<li><a href="javascript:;">Hotels Blog</a></li>
						<li><a href="javascript:;">Nightlife Blog</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Company</h4>
    				
    				<ul>
    					<li><a href="javascript:;">About us</a></li>
    					<li><a href="javascript:;">Travel Gems</a></li>
    					<li><a href="javascript:;">Contact Us</a></li>
    					<li><a href="javascript:;">Terms of Use</a></li>
						<li><a href="javascript:;">Jobs</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    		</div> <!-- /row -->

		</div> <!-- /container -->

	</div> <!-- /extra-inner -->

</div> <!-- /extra -->


    
    
<div class="footer">
	
	<div class="footer-inner">
		
		<div class="container">
			
			<div class="row">
				
    			<div class="span12">
    				&copy; 2012 <a href="http://touristapp.com">Tourist</a>
    			</div> <!-- /span12 -->
    			
    		</div> <!-- /row -->
    		
</div>
</div>
</div>